[user]
	name = Noel Colon
	email = njc0220@gmail.com
	signingkey = E802798FD14F7C52
[merge]
    ff = only                 
[color]
    ui = true                     
    branch = auto
    diff = auto
    status = auto
    interactive = auto
[core]
    excludesfile = ./.gitignore
[pull]
    rebase = true                 
    ff = only                     
[push]
    default = current             
    followTags = true             
[fetch]
    prune = true   
[http]
    sslVerify = true              
    postBuffer = 15728640
[gpg]
    program = gpg
[commit]
    gpgsign = true

; [includeIf "gitdir:~/PROJECT_NAME/"]
;   path = ~/PROJECT_NAME/.gitconfig
